.customize-control-my_line {

	+ .customize-control-my_notice {
		margin-top: -10px;
	}
}

.my-control-notice__title {
	display: block;
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: normal;

	+ .my-control-notice__description {
		margin-top: 5px;
	}
}

.customize-section-description-container {

	+ .customize-control-my_notice,
	+ [style="display: none;"] + .customize-control-my_notice {

		.my-control-notice__title {
			margin-top: 0;
		}
	}
}

.my-control-notice__description {
	margin: 0;
}
