{
	"extends": "wordpress",
	"parserOptions": {
		"ecmaFeatures": {
			"globalReturn": true,
			"generators": false,
			"objectLiteralDuplicateProperties": false
		},
		"ecmaVersion": 2017,
		"sourceType": "module"
	}
}
