.my-form {
	margin: 0;
}

.my-form__input {
	width: 100%;
	padding: 0.5rem 1rem;
	border: $border-width solid $border-light;
	border-radius: $border-radius;
	transition: all $transition-duration ease;

	&::placeholder {
		color: $gray-dark;
	}

	&:focus {
		border-color: $primary;
		box-shadow: $focus-shadow;
	}
}
