.my-page__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

.my-page__body {
	flex: 1 0 auto;
}

.my-page__footer {
	flex: 0 0 auto;
}

._my-no-js {

	.my-page__load-icon,
	.my-page__load-overlay {
		display: none !important;
	}
}
